*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins","san-serif";
}
.loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #563d2d;
}
@property --a{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}
.box{
    position: relative;
    
    
    background: repeating-conic-gradient(from var(--a), yellow 0%, lightgoldenrodyellow 5%, transparent 5%, transparent 40%, lemonchiffon 50%);
    filter: drop-shadow(0 15px 50px #563d2d);
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes rotating {
    0%
    {
        --a:0deg;
    }
    100%
    {
        --a: 360deg;
    }
    
}
 .box::before{
    content:"";
    position: absolue;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
    filter: drop-shadow(0 15px 50px black);
    border-radius: 20px;
    animation: rotating 10s linear infinite;
    animation-delay: -1s;
}
.box::after{
    content:"";
    position: absolute;
    inset: 4px;
    background: #2d2d39;
    border-radius: 15px;
    border: 20px solid deeppink;
}
.login{
    position: absolute;
    inset: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background: navajowhite;
    z-index: 1000;
    box-shadow: inset 0 0px 0px #563d2d;
    border-bottom: 2px solid rgb(255,255,255,0.5);
}  